
<div class="d-flex pl-3 pr-3">
    <MudIconButton Size="Size.Small" Icon="@Icons.Filled.PieChart" />
    <MudText>@Energy Kilocalorías</MudText>
    <MudIconButton Size="Size.Small" Icon="@Icons.Filled.Info" />
</div>



@code {
    [Parameter]
    public int Energy { get; set; }
}
