@using NutrifoodsFrontend.Data.Dto;

<MudStack>
    <MudPaper Class="pa-4" Style="background-color: #F8F4F4" Width="100%" Height="70%">
        <MudStack>
            <div Class="d-flex justify-space-between flex-grow-1 gap-4" Elevation="0">
                <!-- MealType (Almuerzo, Desayuno, Cena, Merienda) -->
                <MudText Class="pl-3" Typo="Typo.h5">@MealType</MudText>
                <MudIconButton @onclick="AutoRenewClick" Size="Size.Medium" Icon="@Icons.Filled.Autorenew"/>
            </div>
        </MudStack>
        <MudList>
            @foreach (var menu in MenuRecipes)
            {
                <MudListItem>
                    <RecipeComponent Quantity=@menu.Portions Name=@menu.Recipe.Name></RecipeComponent>
                </MudListItem>
            }
        </MudList>
    </MudPaper>
</MudStack>

@code {
    [Parameter] public IEnumerable<MenuRecipeDto>? MenuRecipes { get; set; }

    [Parameter] public string? MealType { get; set; }

    //[Parameter] public EventCallback<MealMenuDto> OnMealMenuRenew { get; set; }
    private async Task AutoRenewClick()
    {
        /*var dailyMealPlanResponse = await DailyMenuService.GenerateDailyMenu([Required] double energyTarget,
            MealType mealType = MealType.None, Satiety satiety = Satiety.None)*/
        ;
        //var dailyMealPlan = dailyMealPlanResponse?.Content.ReadFromJsonAsync<DailyMenuDto>().Result;
        
    }
}