@page "/state-container-example"
@using NutrifoodsFrontend.Data
@using NutrifoodsFrontend.Data.Dto
@implements IDisposable
@inject UserMetricsState UserMetricsState

<h1>Página de MealPlan</h1>

@if(UserMetricsState.Property != null){
    <p>Altura: <b> @UserMetricsState.Property.Height</b></p>
    <p>Peso: <b> @UserMetricsState.Property.Weight</b></p>
}

@code {

    protected override void OnInitialized()
    {
        UserMetricsState.OnChange += StateHasChanged;
    }

    private void ChangePropertyValue(){

    }

    public void Dispose()
    {
        UserMetricsState.OnChange -= StateHasChanged;
    }
}