@page "/state-container-example"
@using NutrifoodsFrontend.Data
@using NutrifoodsFrontend.Data.Dto
@implements IDisposable
@inject StateContainer StateContainer

<h1>State Container Example component</h1>

@if(StateContainer.Property != null){
    <p>Altura: <b> @StateContainer.Property.Height</b></p>
    <p>Peso: <b> @StateContainer.Property.Weight</b></p>
}


<p>
    <button @onclick="ChangePropertyValue">
        Change the Property from the State Container Example component
    </button>
</p>



@code {

    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    private void ChangePropertyValue(){

    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}