<AuthorizeView>
    <Authorized>
        <a Style="color: white" href="logout">Cerrar sesión</a>
    </Authorized>
    <NotAuthorized>
        <a Style="color: white" href="login?redirectUri=/">Iniciar Sesión</a>
    </NotAuthorized>
</AuthorizeView>